@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
}


.container-default{
    margin-left: 14em;
    margin-right: 14em;
}

/*PÁGINA INDEX*/
.topo {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.092), 0 6px 20px 0 rgba(0, 0, 0, 0);
    padding: 1em;
}

.topo nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo nav ul{
    display: flex;
    align-items: center;
    padding-right: 14em;
}

.topo nav ul li {
    padding-right: 1em;
    font-size: 1.2em;
}

.topo nav ul li a {
    color: black;
}



.logo {
    width: 26vw;
    padding-left: 13em;
}

.banner{
    margin-top: 5em;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-main{
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.box-main h2 {
    font-size: 2.5em;
    line-height: 1em;
    width: 60%;
}

.box-main h2 span {
    color: #fe2784;
}

.box-main button {
    width: 35%;
    height: 9%;
    border-radius: 12px;
    border: 1px solid #fe2784;
    background-color: #fe2784;
}

.box-main button a {
    color: #ffffff;
    font-size: 1.1em;
    color: #ffffff;
}

.main-img {
    display: flex;
    justify-content: center;
}

.main-img img{
    width: 100%;
}


footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5em;
    margin-top: 5em;
    background-color: #eeeeee;
    
}

footer div h4{
    margin-bottom: 1em;
}

footer div ul li {
    line-height: 2em;
}

/* PÁGINA LOGIN*/
.topo-login{
    padding-top: 1.5em;
    width: 100%;
}


.login-link-box ul{
    display: flex;
    align-items: center;
    background-color: #FFBE3C;
}

.login-link {
    font-size: 0.8em;
}

/*PÁGINA VAGAS*/

.box-vacancies {
    display: flex;
    margin: 5em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box-v-1 {
    padding: 3em;
    border-radius: 10px;
    border: 1px solid #000000;
    margin: 1em;
    width: 30em;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.box-v-1 a img {
    width: 20em;
    padding-bottom: 1em;
}



