@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
}


.container-default{
    margin-top: 4em;
    margin-left: 14em;
    margin-right: 14em;
}

/*PÁGINA INDEX*/
.topo {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.092), 0 6px 20px 0 rgba(0, 0, 0, 0);
    padding: 1em;
}

.topo nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topo nav ul{
    display: flex;
    align-items: center;
}

.topo nav ul li {
    padding-right: 1em;
    font-size: 1.2em;
}

.topo nav ul li a {
    color: black;
}

.logo {
    width: 12em;
}

.banner{
    margin-top: 5em;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-main{
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.box-main h2 {
    font-size: 2.5em;
    line-height: 1em;
    width: 60%;
}

.box-main h2 span {
    color: #fe2784;
}

.box-main button {
    width: 35%;
    height: 9%;
    border-radius: 12px;
    border: 1px solid #fe2784;
    background-color: #fe2784;
}

.box-main button a {
    color: #ffffff;
    font-size: 1.1em;
    color: #ffffff;
}

.main-img {
    display: flex;
    justify-content: center;
}

.main-img img{
    width: 100%;
}


footer {
    display: flex;
    justify-content: space-evenly;
    padding: 5em;
    margin-top: 5em;
    background-color: #eeeeee;
    
}

footer div h4{
    margin-bottom: 1em;
}

footer div ul li {
    line-height: 2em;
}

footer div ul li a {
    color: #000000;
    transition: all 0.2s ease-out;
}

footer div ul li a:hover {
    color: #fe2784;
}

/* PÁGINA LOGIN*/

.container-default2{
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 5em;
}

.topo-login{
    padding-top: 1.5em;
    width: 100%;
}


.login-link-box{
    width: 12vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbe3c55;
    border-radius: 6px;
}

.login-link {
    color: black;
    font-size: 0.8em;
}

.login-wrapper {
    display: flex;
    justify-content: space-around;
}

.form-login {
    margin-top: 4em;
}

.form-title-h2 {
    font-weight: 500;
}


.form-fields {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.form-fields form .user-box input{
    border: 2px solid #fe27845d;
    outline: none;
    border-radius: 10px;
    height: 3em;
    width: 100%;
    padding-left: 1em;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.092), 0 6px 20px 0 rgba(0, 0, 0, 0.033);
}

.user-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0.8em;
}

.user-sender {
    margin-top: 1em;
}

#send-button {
    width: 100%;
    height: 4.2vh;
    border-radius: 12px;
    border: 1px solid #fe2784;
    background-color: #fe2784;
    color: #eeeeee;
    font-weight: 500;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.033);
}

/*PÁGINA VAGAS*/

.box-vacancies {
    display: flex;
    margin: 5em;
    justify-content: space-evenly;
    flex-direction: column;
}

.box-v-1 {
    padding: 0em 2em 0em 0em;
    border-radius: 10px;
    margin: 1em;
    /*width: 100%;*/
    min-height: fit-content;
    min-width: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-color {
    border: 1px solid #fe2e27;
}

.border-color2 {
    border: 1px solid #ffc720;
}

.border-color3{
    border: 1px solid #ff6a20;
}

.box-v-1 a img {
    width: 20em;    
    padding-bottom: 1em;
    margin-left: 2em;
}

.line {
    height: 14vh;
    border-right: 2px solid black;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

.mini-line {
    height: 2vh;
    border-right: 2px solid black;
    margin-right: 1em;
    margin-left: 1em;
}

.title-vaga {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.desc-second-line {
    display: flex;
    width: 45vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.desc-beneficios {
    width: 75%;
}

.space {
    padding-right: 2em;
}

/*PADRAO DAS PÁGINAS VAGAS*/

.termometro {
    width: 1vw;
    height: 30vh;
    background-color: #fe2e27;
    border-radius: 12px;
   
}

.termometro2 {
    width: 1vw;
    height: 30vh;
    background-color: #ffc720;
    border-radius: 12px;
   
}

.termometro3 {
    width: 1vw;
    height: 30vh;
    background-color: #ff6a20;
    border-radius: 12px;
   
}

.about-us-wrapper {
    display: flex;
    align-items: center;
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 4em;

}

.text-one {
    padding-bottom: 13em;

}

.about-us-wrapper-2 {
    display: flex;
    align-items: center;
    margin-top: 4em;
    background-color: #d5c9c9;
}
 

.img-2 {
    margin-top: 5em;
    padding-left: 5em;
    padding-bottom: 3em;
}

.about-us-wrapper-2 div p {
    padding-right: 10em;
}

.footer-about-us {
    margin-top: 0;
}

.criar-topo nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.criar-topo nav ul {
    display: flex;
  
}

.criar-topo nav li {
    padding-right: 3em;
    
}

.criar-topo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.092), 0 6px 20px 0 rgba(0, 0, 0, 0);
    padding: 1em;
}

.left-side {
    width: 35%;
    background-color: #d5c9c91d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 4em 0;
}

.right-side {
    width: 70%;
}

.form-cadastro-wrapper{
    width: 60%;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.title-cadastro{
    width: 60%;
}

.form-cadastro input {
    border: 2px solid #fe27845d;
    border-radius: 10px;
    height: 3em;
    padding-left: 1em;
}

.form-cadastro input {
    border: 2px solid #fe27845d;
    border-radius: 10px;
    height: 3em;
    padding-left: 1em;
}

.form-cadastro #button {
    border: 0;
    background-color: #fe2784;
}

.container {
    display: flex;
}

.img-signup {
    margin-top: 1em;
    width: 100%;
    display: flex;
}

/*PÁGINA DE VAGAS-DETALHES*/
.banner-vaga {
    width: 100%;
    height: 25vh;
    position: relative;
}

.banner-vaga img {
    object-fit: cover;
    object-position: 25% 38%; 
    width: 100%;
    height: 100%;
}

.banner-logo {
    background-color: #fdfdfd;
    top: 9em;
    margin-left: 16em;
    position: absolute;
    width: 15vw;
    border: 1px solid #fe2784;
    padding: 1em;
    border-radius: 12px;
}

.negrito {
    font-weight: bold;
}

.banner-logo img {
    width: 100%;
}

.container-text {
    margin: 2em;
}

#button-vaga {
    background-color: #fe2784;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.8em;
    font-family: 'Poppins', sans-serif;
}

.etapas ul {
    display: flex;
    justify-content: space-around;
}


.lista-circles li {
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    border: 2px solid #fe2784;
}

.active {
    background-color: #fe2784;
}

.title-etapas {
    font-size: 0.8em;
}

.etapas{
    display: flex;
    flex-direction: column;
}

.texts-vaga-detalhe {
    display: flex;
    margin-bottom: 1.5em;
}

.texts-vaga-detalhe p {
    padding-right: 2em;
}

.greeen {
    color: rgb(84, 255, 11);
}

.piink {
    color: #fe2784;
}

.container-default3 {
    margin-left: 2em;
    margin-top: 4em;
}

.button-vaga-selecionada {
    width: 7vw;
    height: 5vh;
    border: transparent;
    background-color: #818181;
    border-radius: 10px;
}

.accordion {
    max-width: 70vw;
}

.accordion .contentBx {
    position: relative;
    margin-top: 10px;
    margin-bottom: 4em;
    border-radius: 10px;
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: #fe2784ae;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;   
    transform: translateY(-50%);
    font-size: 1.5em;
    border-radius: 10px;
}

.accordion .contentBx .content {
    position: relative;
    background: #ececec;
    transition: 0.8s;
    overflow: hidden;
    overflow-y: hidden;
    height: 0;
    border-radius: 10px;
}   

.accordion .contentBx.active .content {
    height: min-content;
    padding: 10px;
    border-radius: 10px;
}

.criar-topo nav ul li {
    padding-right: 1em;
    font-size: 1.2em;
}

.criar-topo nav ul li a {
    color: black;
}

.title-candidaturas {
    padding-left: 2em;
}

